body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-size: 14px;
  line-height: 16px;
}
header {
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 500;
  letter-spacing: 0.02em;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #212121;
}
.logo-color {
  color: #2196f3;
}
.navi-item {
  text-decoration: none;
  color: #212121;
}
.contact {
  text-decoration: none;
  color: #757575;
}
.navi-item:hover,
.navi-item:focus,
.contact:hover,
.contact:focus {
  color: #2196f3;
}
.title {
  background-color: #2f303a;
  color: #ffffff;
}
.title-text {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.title-button {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: #2f303a;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.list-heading {
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.list-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
